{% extends "master.html" %}
{% block title %} Страница не найдена {% endblock %}
{% block body %}
<!--page_container-->
    <div class="page_container">
    	<div class="breadcrumb">
        	<div class="wrap">
            	<div class="container">
                    <a href="index.html">Главная</a><span>/</span>Страница не найдена
                </div>
            </div>
        </div>
    	<div class="wrap">
        	<div class="container">
                <section>
				<h3>Страница не найдена</h3>
				</section>
                
            </div>
        </div>
    </div>
    <!--//page_container-->
{% endblock %}